* {
  box-sizing: border-box; }

*,
*:before,
*:after {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  background-color: #f4f4f4; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px; }

.btn {
  appearance: none;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none; }

.btn--green {
  background-color: #29b283;
  color: white;
  transition: background-color 0.3s ease-in-out; }
  .btn--green:hover {
    background-color: #1f8964; }

.btn__icon {
  width: 24px;
  margin-right: 9px; }

.card-row {
  margin-top: -100px;
  position: relative;
  z-index: 5; }
  .card-row .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.card-row__card {
  padding: 36px 18px;
  background-color: white;
  box-shadow: #bbb 0px 0px 4px 1px;
  margin-bottom: 18px;
  box-sizing: border-box;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .card-row__card {
      width: calc(33% - 12px); } }

.card-row__card-icon {
  height: 150px;
  width: 130px;
  max-width: 80%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto; }

.card-row__card-title {
  color: #60407f;
  font-family: "Pacifico", cursive;
  font-size: 1.75em; }
  @media screen and (min-width: 600px) {
    .card-row__card-title {
      font-size: 1.3em; } }
  @media screen and (min-width: 720px) {
    .card-row__card-title {
      font-size: 1.75em; } }

.card-row__card-description {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 0; }

.site-footer {
  background-color: #f4f4f4;
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center; }

.gif-rotator__gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.gif-rotator__gif.active-gif {
  opacity: 1;
  z-index: 1; }

.gif-rotator__gif.prev-gif {
  opacity: 0;
  z-index: 2; }

.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./img/how_i_taught_ya.png);
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .hero {
      min-height: calc(100vh - 300px);
      height: 600px; } }

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.hero__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 0.7s ease-in-out; }
  .hero__bg-img.active-gif {
    opacity: 1;
    z-index: 5; }
  .hero__bg-img.prev-gif {
    opacity: 0;
    z-index: 10; }

.hero__bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(96, 64, 127, 0.75); }

.hero__content {
  position: relative;
  z-index: 5; }

.hero__title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.625em;
  font-weight: 300;
  line-height: 1.3;
  max-width: 500px;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .hero__title {
      font-size: 2em; } }

.main-nav {
  padding: 24px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; }
  .main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-nav__logo {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  color: white;
  font-weight: normal;
  margin: 0; }

.player__playing-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
  color: white;
  z-index: 5;
  text-align: right;
  max-width: 300px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .player__playing-info.open {
    transform: translateY(0);
    opacity: 1; }
  .player__playing-info h1 {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3; }
  .player__playing-info h2 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.3; }

.player__giphy-img {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 100px;
  z-index: 5; }

.player__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #60407f;
  opacity: 0.5;
  z-index: 3; }

.menu-button {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 5;
  appearance: none;
  border: 0;
  background-color: transparent;
  height: 48px;
  width: 48px; }
  .menu-button img {
    width: 100%; }

.spotify-player {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out; }
  .spotify-player.open {
    transform: translateY(0); }
    .spotify-player.open iframe {
      opacity: 1;
      height: 80px;
      max-height: 80px; }
  .spotify-player iframe {
    vertical-align: bottom;
    display: block;
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }

.spotify-player__btn-shelf {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 0 6px; }

.spotify-player__btn {
  background-color: rgba(96, 64, 127, 0.8);
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  border: 0;
  margin: 0 6px;
  padding: 6px 9px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out; }
  .spotify-player__btn:hover {
    background-color: #60407f; }
  .spotify-player__btn:focus, .spotify-player__btn:active {
    outline: 0;
    background-color: #7a51a1; }

.spotify-player__close {
  position: absolute;
  right: -11px;
  bottom: -11px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: rgba(96, 64, 127, 0.85);
  border: 1px solid #60407f;
  transition: background-color 0.3s ease-in-out; }
  .spotify-player__close:hover {
    background-color: #60407f; }
  .spotify-player__close:focus, .spotify-player__close:active {
    outline: 0;
    background-color: #7a51a1; }
  .spotify-player__close img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; }

.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translate(50px, 0); }

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-in, transform 250ms ease-in; }

.fade-leave {
  opacity: 1;
  transform: translate(0, 0);
  position: absolute;
  top: 0;
  left: 0; }

.fade-leave.fade-leave-active {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: opacity 250ms ease-in, transform 250ms ease-in; }
