@import "./variables.scss";

.gif-rotator {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.gif-rotator__bg {
	opacity: 0.1;

	img {
		max-width: 100%;
	}
}

.gif-rotator__gif {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.gif-rotator__gif.active-gif {
	opacity: 1;
	z-index: 1;
}

.gif-rotator__gif.prev-gif {
	opacity: 0;
	transition: opacity 0.7s ease-in-out;
	z-index: 2;
}