@import "variables.scss";

.not-playing {
	align-content: center;
	align-items: center;
	background-color: rgba(black, 0.75);
	color: white;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	width: 100%;
	z-index: 4;

	p {
		font-family: $font-sans;
	}
}

	.not-playing__title {
		font-family: $font-script;
		font-size: 2.5em;
		line-height: 1;
		margin: 0;
		width: 100%;
	}