

  .settings__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .row--full, .row--half {
      width: 100%;
      padding: 18px 0;
    }

    .row--half {
      @media screen and (min-width: 720px) {
        width: calc(50% - 18px);
      }
    }

    .pre-label {
      display: block;
      margin-bottom: 12px;
      font-family: $font-sans;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .settings__seconds {
      display: block;
      margin-bottom: 12px;
      font-family: $font-sans;
      font-size: 0.875rem;
    }
  }