.share-shelf {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	padding: 24px 0;

	@media screen and (min-width: 720px) {
		justify-content: center;
	}
	a {
		margin: 0 8px;
		padding: 8px;

		&:first-child {
			margin-left: 0;
			padding-left: 0;
		}

		img {
			height: 24px;
		}
	}
}