* {
  box-sizing: border-box; }

*,
*:before,
*:after {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  background-color: #f4f4f4; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px; }

.btn {
  appearance: none;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none; }

.btn--green {
  background-color: #29b283;
  color: white;
  transition: background-color 0.3s ease-in-out; }
  .btn--green:hover {
    background-color: #1f8964; }

.btn__icon {
  width: 24px;
  margin-right: 9px; }

.card-row {
  margin-top: -100px;
  position: relative;
  z-index: 5; }
  .card-row .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.card-row__card {
  padding: 36px 18px;
  background-color: white;
  box-shadow: #bbb 0px 0px 4px 1px;
  margin-bottom: 18px;
  box-sizing: border-box;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .card-row__card {
      width: calc(33% - 12px); } }

.card-row__card-icon {
  height: 150px;
  width: 130px;
  max-width: 80%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto; }

.card-row__card-title {
  color: #60407f;
  font-family: "Pacifico", cursive;
  font-size: 1.75em; }
  @media screen and (min-width: 600px) {
    .card-row__card-title {
      font-size: 1.3em; } }
  @media screen and (min-width: 720px) {
    .card-row__card-title {
      font-size: 1.75em; } }

.card-row__card-description {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 0; }

.site-footer {
  background-color: #f4f4f4;
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center; }

.gn__select {
  border: 2px solid white;
  color: #f1f1f1;
  display: block;
  margin: 0 0 10px;
  padding: 0;
  position: relative; }
  .gn__select:after {
    background-image: url(img/white_arrow_down.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    display: block;
    font-size: 11px;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 12px 12px 0 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none; }
  .gn__select select {
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 0;
    color: white;
    font-family: "Raleway", sans-serif;
    height: 45px;
    margin: 0;
    outline: 0;
    width: 100%;
    appearance: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 50px 0 12px;
    line-height: 45px;
    transition: background-color 0.3 ease-in; }
    .gn__select select:focus {
      font-style: italic;
      background-color: rgba(255, 255, 255, 0.1); }

.gn__checkbox label {
  width: 30px;
  height: 30px;
  display: block; }
  .gn__checkbox label input {
    display: none; }
    .gn__checkbox label input:checked + .box {
      background-color: #dfd4ea; }
      .gn__checkbox label input:checked + .box:after {
        top: 0; }
  .gn__checkbox label .box {
    width: 100%;
    height: 100%;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    border: 2px solid transparent;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2); }
    .gn__checkbox label .box:after {
      width: 50%;
      height: 20%;
      content: '';
      position: absolute;
      border-left: 4.5px solid;
      border-bottom: 4.5px solid;
      border-color: #60407f;
      transform: rotate(-45deg) translate3d(0, 0, 0);
      transform-origin: center center;
      transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
      left: 0;
      right: 0;
      top: 200%;
      bottom: 5%;
      margin: auto; }

.gn__input-range {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
  /* no focus outline */ }

.gn__input-range::-moz-range-track {
  border: inherit;
  background: transparent; }

.gn__input-range::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent; }

.gn__input-range::-ms-fill-lower,
.gn__input-range::-ms-fill-upper {
  background: transparent; }

.gn__input-range::-ms-tooltip {
  display: none; }

/* thumb */
.gn__input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #865eae), color-stop(100%, #60407f));
  /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top, #865eae 0, #60407f 100%);
  /* older mobile safari and android > 2.2 */
  background-image: linear-gradient(to bottom, #865eae 0, #60407f 100%);
  /* W3C */ }

.gn__input-range::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #865eae 0, #60407f 100%);
  /* W3C */ }

.gn__input-range::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #865eae 0, #60407f 100%);
  /* W3C */ }

.gif-rotator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.gif-rotator__bg {
  opacity: 0.1; }
  .gif-rotator__bg img {
    max-width: 100%; }

.gif-rotator__gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.gif-rotator__gif.active-gif {
  opacity: 1;
  z-index: 1; }

.gif-rotator__gif.prev-gif {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.7s ease-in-out; }

.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(./img/how_i_taught_ya.png);
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .hero {
      min-height: calc(100vh - 300px);
      height: 600px; } }

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.hero__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 0.7s ease-in-out; }
  .hero__bg-img.active-gif {
    opacity: 1;
    z-index: 5; }
  .hero__bg-img.prev-gif {
    opacity: 0;
    z-index: 10; }

.hero__bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(96, 64, 127, 0.75); }

.hero__content {
  position: relative;
  z-index: 5; }

.hero__title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.625em;
  font-weight: 300;
  line-height: 1.3;
  max-width: 500px;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .hero__title {
      font-size: 2em; } }

.modal-container > div > div {
  background-color: rgba(0, 0, 0, 0.85); }
  .modal-container > div > div > div {
    color: white;
    background-color: transparent !important;
    box-shadow: none !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important; }

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  padding: 20px; }

.modal__title {
  font-family: "Pacifico", cursive;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.625rem; }

.modal__close-button {
  appearance: none;
  border: 0;
  background-color: transparent;
  height: 36px;
  width: 36px;
  position: fixed;
  top: 40px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  font-size: 0; }
  .modal__close-button img {
    width: 100%; }

.main-nav {
  padding: 24px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; }
  .main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-nav__logo {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  color: white;
  font-weight: normal;
  margin: 0; }

.not-playing {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4; }
  .not-playing p {
    font-family: "Raleway", sans-serif; }

.not-playing__title {
  font-family: "Pacifico", cursive;
  font-size: 2.5em;
  width: 100%;
  margin: 0;
  line-height: 1; }

.player__playing-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
  color: white;
  z-index: 5;
  text-align: right;
  max-width: 300px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .player__playing-info.open {
    transform: translateY(0);
    opacity: 1; }
  .player__playing-info h1 {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3; }
  .player__playing-info h2 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.3; }

.player__giphy-img {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 100px;
  z-index: 5; }

.player__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #60407f;
  opacity: 0.5;
  z-index: 3; }

.menu-button {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 5;
  appearance: none;
  border: 0;
  background-color: transparent;
  height: 48px;
  width: 48px; }
  .menu-button img {
    width: 100%; }

.playlists {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-y: scroll; }

.playlist {
  width: 100%;
  padding: 1rem;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  transition: background-color 0.3s ease-in;
  text-align: left; }
  .playlist:hover, .playlist:active {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer; }
  @media screen and (min-width: 720px) {
    .playlist {
      width: 50%; } }

.settings__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .settings__form .row--full, .settings__form .row--half {
    width: 100%;
    padding: 18px 0; }
  @media screen and (min-width: 720px) {
    .settings__form .row--half {
      width: calc(50% - 18px); } }
  .settings__form .pre-label {
    display: block;
    margin-bottom: 12px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase; }
  .settings__form .settings__seconds {
    display: block;
    margin-bottom: 12px;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem; }

.spotify-player {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out; }
  .spotify-player.open {
    transform: translateY(0); }
    .spotify-player.open iframe {
      opacity: 1;
      height: 80px;
      max-height: 80px; }
  .spotify-player iframe {
    vertical-align: bottom;
    display: block;
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }

.spotify-player__btn-shelf {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 0 6px; }

.spotify-player__btn {
  background-color: rgba(96, 64, 127, 0.8);
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  border: 0;
  margin: 0 6px;
  padding: 6px 9px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out; }
  .spotify-player__btn:hover {
    background-color: #60407f;
    cursor: pointer; }
  .spotify-player__btn:focus, .spotify-player__btn:active {
    outline: 0;
    background-color: #7a51a1; }

.spotify-player__close {
  position: absolute;
  right: -11px;
  bottom: -11px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: rgba(96, 64, 127, 0.85);
  border: 1px solid #60407f;
  transition: background-color 0.3s ease-in-out; }
  .spotify-player__close:hover {
    background-color: #60407f;
    cursor: pointer; }
  .spotify-player__close:focus, .spotify-player__close:active {
    outline: 0;
    background-color: #7a51a1; }
  .spotify-player__close img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; }

.spotify-player__play-instructions {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  display: flex;
  align-items: flex-start;
  animation: flash linear 2s 5; }
  .spotify-player__play-instructions img {
    width: 50px; }
  .spotify-player__play-instructions div {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 130px;
    padding-left: 5px;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(-6px); }

@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: .1; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: .1; }
  100% {
    opacity: 1; } }

.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translate(50px, 0); }

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 250ms ease-in, transform 250ms ease-in; }

.fade-leave {
  opacity: 1;
  transform: translate(0, 0);
  position: absolute;
  top: 0;
  left: 0; }

.fade-leave.fade-leave-active {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: opacity 250ms ease-in, transform 250ms ease-in; }
