.player__playing-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
  color: white;
  z-index: 5;
  text-align: right;
  max-width: 300px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.open {
    transform: translateY(0);
    opacity: 1;
  }

  h1 {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3;
  }

  h2 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.3;
  }
}

  .player__giphy-img {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 100px;
    z-index: 5;
  }

  .player__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-purple;
    opacity: 0.5;
    z-index: 3;
  }

.menu-button {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 5;
  appearance: none;
  border: 0;
  background-color: transparent;
  height: 48px;
  width: 48px;

  img {
    width: 100%;

  }
}